<h1>Treinador Estúpido</h1>


<div class="card">
  <div class="card-header">
    Pergunta
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @question %></p>
      <footer class="blockquote-footer">Tu na <cite title="Source Title">Conferência de Imprensa</cite></footer>
    </blockquote>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Resposta
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @answer %></p>
      <footer class="blockquote-footer">Jorge Jesus na <cite title="Source Title">Conferência de Imprensa</cite></footer>
    </blockquote>
  </div>
  <a href="http://localhost:3000/ask">Pergunta mais uma coisinha</a>
</div>
