<figure>
  <blockquote class="blockquote">
    <p>En el minoto otchencha e ocho hemos sofrido un golito. Quieres preguntar me más o quê?</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Jorge Jesus in <cite title="Source Title">A Bola</cite>
  </figcaption>
</figure>


<form action="/answer" data-turbo="false">
  <input class="form-control" type="text" placeholder="Per Gunta luego, jilipoias!" aria-label="default input example" name="name">
  <button type="submit" class="btn btn-primary mb-3">Pargunta</button>
</form>
